<header>
    <span>Upload a CSV to Begin</span>
    <form method="POST" action="/upload-csv" encType="multipart/form-data">
    <input type=file name="csv_file">
    <button>Send File</button>

</form>
</header>