<div class="container mt-3">
<p>hello world, beancount</p> 
<form method="POST" action="/upload" encType="multipart/form-data">
    <input type=file name="file">
    <button>Send File</button>

</form>
</div>